* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121213;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#board {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.cell {
  width: 60px;
  height: 60px;
  border: 2px solid #3a3a3c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #121213;
}

.cell.green {
  background-color: rgb(15, 158, 79);
}

.cell.yellow {
  background-color: rgb(201, 201, 0);
}

.cell.gray {
  background-color: gray;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.game-won-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12em;
  font-weight: bold;
  color: blue;
  height: 100%;
}

.game-won-red {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12em;
  font-weight: bold;
  color: red;
  height: 100%;
}

.active-game-blue {
  outline: 2px solid blue;
}

.active-game-red {
  outline: 2px solid red;
}

.main-menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121213;
}

.main-menu h1 {
  color: #f5f5f5;
  font-size: 2em;
}

.main-menu ul {
  list-style: none;
  padding: 0;
}

.main-menu ul li {
  margin: 10px 0;
}

.main-menu ul li a {
  color: #f5f5f5;
  text-decoration: none;
}

.main-menu ul li a:hover {
  color: #007bff;
}

.game-title {
  color: #f5f5f5;
  font-size: 5em;
  text-align: center;
  margin-bottom: 50px;
}

.pop-up-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.pop-up {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(129, 129, 129);
  z-index: 100;
}
